body {
    /* margin and padding are 0 to make the navbar fully extend to the edges
    
    might encounter to some problem later maybe

    */
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: grey;
    overflow:hidden;
    display: flex;
    justify-content: center;

    flex: 1;
}

.navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: lightgrey;
}

.uppernavbar{
    background-color: lightgrey;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.uppernavbar left{
    display: flex;
    
}

.uppernavbar right{
    display: flex;
    
}
.uppernav-item{
    display: inline-flex;
    margin: 0 10px;
}
.uppernavbar a{

    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}