
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255,248,233,1);
  }


.header {
    padding: 22px;
    background: rgba(232,175,48,1);
    
  }

.navbar {
    padding: 22px;
    background: rgba(15,32,67,1);
   
   
}

.navbar a {
    color: rgba(232,175,48,1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .pic {
    width: 492px;
    height: 521px;
    position: fixed;
  top: 29%;
  left: 10%;
    
  }

  .picin {
    width: 492px;
    height: 521px;
    position: fixed;
  top: 30%;
  left: 59%;
    
  }
  .loginbox2 {
    position: absolute;
    top: 27%;
    right: 50%;
    width: 573px;
    height: 500px;
    background: rgba(231, 230, 221, 1);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 30%;
    overflow: visible;
  }
  .regbox {
    position: absolute;
    margin-top: 50px; 
    width: 89%;
    height: 550px;
    background: rgba(231, 230, 221, 1);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    overflow: visible;
  }

  
  .trackcon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    padding: 51px;
    overflow: visible;
    
  }


  hr {
    width: 95%;
    margin-top: -20px;
  }
  
  .grid-container {

    padding: 51px;
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  }
  .prof {
    overflow: visible;
    position: fixed;
    top: 20%;
    left: 43%;
  }

.notif {
  width: 93%;
  height: 60px;
  margin-top: 40px;
  margin-left: 40px;
  background: #0F2043;
  border-radius: 10px 10px 10px 10px;
}
.create {
  width: 10%;
  height: 60px;
  margin-top: 40px;
  margin-left: 40px;
  background: #0F2043;
  border-radius: 10px 10px 10px 10px;
}
.view {
  width: 10%;
  height: 45px;
  margin-top: 0.9%;
  margin-left: 80%;
  background: #E8C766;
  border-radius: 10px 10px 10px 10px;
  border: 2px black;
  position: absolute;
}

.viewtext{
  color: #0F2043;
  margin-left: 13%;
  margin-top: 7%;
  overflow: visible;
  position: absolute;
  font-size: larger;
}

.createte{
  width: 93%;
  height: 75px;
  margin-top: 40px;
  margin-left: 40px;
  background: #0F2043;
  border-radius: 10px 10px 10px 10px;
  overflow: visible;
}

.creatext{
  color: #E8C766;
  margin-left: 3%;
  margin-top: 1.8%;
  overflow: visible;
  position: absolute;
}

.createtext {
  color: #E8C766;
  margin-left: 2.5%;
  margin-top: 1.2%;
  overflow: visible;
  position: absolute;
  font-size: larger;
}

.notiftext{
  color: #E8C766;
  margin-left: 3%;
  margin-top: 1.2%;
  overflow: visible;
  position: absolute;
}
  .profbox {
    position: absolute;
    top: 58%;
    left: 31%;
    width: 650px;
    height: 280px;
    background: rgba(231, 230, 221, 1);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30%;
    overflow: visible;
  }

  .profname {
    margin-left: 49%;
    margin-top: 19%;
    font-size: larger;
  }

  hr {
    border-width: 2px;
  }
  .homebox {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 85%;
    height: 74%;
    background: rgba(231, 230, 221, 1);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30%;
    
  }

  .loginbox {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 573px;
    height: 241px;
    background: rgba(231, 230, 221, 1);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30%;
    overflow: visible;
  }

/*log 1 is for the yellow part of the box */
  .log1 {
    height: 60px;
    background: #E8C766;
    border-radius: 20px 20px 0px 0px;
    overflow: visible;

  }

  .des{
    position: fixed;
    top: 30%;
    
  }

  .deslog{
    position: fixed;
    top: 30%;
    left: 57%;
  }

  .deslog1 {
    position: fixed;
    left: 40%;
    top: -10%;
    z-index: -1;
}

.deslog2 {
  position: fixed;
  bottom: 0;

}

  .des1 {
    position: fixed;
    left: 78%;
    top: -20%;
    z-index: -1;
}

.des2 {
    position: fixed;
    left: 78%;
    top: 40%;

}

.title {
font-family: 'Just Me Again Down Here';
font-style: normal;
font-size: 95px;
color: #0F2043;
padding-left: 20px;
margin-top: -75px;
position: absolute;

}
.titles {
  font-family: 'Just Me Again Down Here';
font-style: normal;
font-size: 95px;
color: #0F2043;
margin-top: -75px;
position: absolute;
text-align: center;
padding-left: 43%;
  
  }

h1 {
  padding-left: 50px;
  font-size: 47px;
}

.HomeLoginbutton {
  margin-top: 68px;
  margin-left: 89px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0F2043; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-size: larger;
  cursor: pointer;
  color: #E8C766;
  text-decoration: none;
}


.sform {
  padding: 20px; 
  overflow: visible;
  margin-bottom: 0;
}

.sform input[type="text"],
.sform input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid  #0F2043;
  border-radius: 5px;
  box-sizing: border-box;

}

.nota {
  margin-left: 20%;
  
  text-decoration: none;
  color: #0F2043;
}
.for { 
  margin-left: 9%;
  text-decoration: none;
  color: #0F2043;
}
/* button for custlog and login supposedly */
.button2 {
  margin-top: 8%;
  margin-left: 8%;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0F2043; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-size: larger;
  cursor: pointer;
  color: #E8C766;
  text-decoration: none;
}

/* button for business reg */
.button3 {
  margin-top: 4%;
  margin-left: 43%;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0F2043; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-size: larger;
  cursor: pointer;
  color: #E8C766;
  text-decoration: none;
}

.notas {
  margin-left: 40%;
  
  text-decoration: none;
  color: #0F2043;
}

.logsplash{
  
}

body {
  background-size: cover;
}

.column {
  flex: 1;
      padding: 10px;

}

.row {
  display: flex;
}
